<!--Reset Password Form-->
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="booking-cta">
                        <h1>Manage your property</h1>
                        <p> ✔️ Track Payments </p>
                        <p> ✔️ Send SMS Reminders </p>
                        <p> ✔️ Send Invoices and Receipts </p>
                        <p style='font-size:medium; font-weight:bold'> ✔️ Manage all your properties in one place!
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-1">
                    <div class="booking-form">
                         <form method="POST" id='reset' class='hide'>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input
                                            class="form-control"
                                            type="email" name="email" required>
                                        <span class="form-label">Email:</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-btn">
                                <button class="submit-btn" type="submit">Reset Password</button>
                            </div>
                            <br>
                            <a href="login" class='reset'> Back to Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>