<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="booking-cta">
                        <h1>Manage your property</h1>
                        <p> ✔️ Track Payments </p>
                        <p> ✔️ Send SMS Reminders </p>
                        <p> ✔️ Send Invoices and Receipts </p>
                        <p style='font-size:medium; font-weight:bold'> ✔️ Manage all your properties in one place!
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-1">
                    <div class="booking-form">
                       <!--Login Form-->
                        <form method="POST"  id="login">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input
                                            class="form-control"
                                            type="text" name="username" required autocomplete="username">
                                        
                                            <div class="invalid-feedback text-danger">
                                                <small> </small>
                                            </div>
                                       
                                        <span class="form-label">Username:</span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" required type="password" name="password">
                                        
                                            <div class="invalid-feedback text-danger">
                                                <small></small>
                                            </div>
                                       
                                        <span class="form-label">Password:</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-inline">
                                        <span>🔐 <a class="btn reset" href="reset">Reset Password</a></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-inline">
                                        <span>💼 <a class="btn  togle-forms" href="register"> Create Account</a></span>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="form-btn">
                                <button class="submit-btn" type="submit">Login</button>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>