<!--Create Account Form-->
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="booking-cta">
                        <h1>Manage your property</h1>
                        <p> ✔️ Track Payments </p>
                        <p> ✔️ Send SMS Reminders </p>
                        <p> ✔️ Send Invoices and Receipts </p>
                        <p style='font-size:medium; font-weight:bold'> ✔️ Manage all your properties in one place!
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-1">
                    <div class="booking-form">
                        <form method="POST"  id='signup' class="hide">
                            <div class="row">
                            </div>
            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="email" type="text"
                                            class="form-control" name="email"
                                             required autocomplete="email">
                                            <span class="invalid-feedback" role="alert">
                                                <strong></strong>
                                            </span>
                                        <span class="form-label">Username</span>
                                    </div>
                                </div>
            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="name" type="text"
                                            class="form-control" name="name"
                                            required autocomplete="name" autofocus>
                                            <span class="invalid-feedback" role="alert">
                                                <strong></strong>
                                            </span>
                                       
                                        <span class="form-label">ID/Passport</span>
                                    </div>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Owner Type</span>
                                        <select class="form-control" name="paybill">
                                            <option value='0'>Select Owner Type</option>
                                            <option value='1'>Corporate</option>
                                            <option value='2'>Individual</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div> 
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="tel" name="phone" required>
                                        <span class="form-label">Tel No</span>
                                    </div>
                                </div>
                            </div>
            
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="names" required>
                                        <span class="form-label">Surname</span>
                                    </div>
                                </div>
            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="names" required>
                                        <span class="form-label">FirstName</span>
                                    </div>
                                </div>
                            </div> -->
            
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="names" required>
                                        <span class="form-label">Other Names</span>
                                    </div>
                                </div>
                            </div> -->
            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="location" required>
                                        <span class="form-label">Address</span>
                                    </div>
                                </div>
            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="">
                                        <span class="form-label">Owner Type</span>
                                    </div>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="password" type="password"
                                            class="form-control"
                                            name="password" required autocomplete="new-password">
                                       
                                            <span class="invalid-feedback" role="alert">
                                                <strong></strong>
                                            </span>
                                        
                                        <span class="form-label">Password</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="password-confirm" type="password" class="form-control"
                                            name="password_confirmation" required autocomplete="new-password">
                                        <span class="form-label">Confirm Password</span>
                                    </div>
                                </div>
                            </div>
            
                            
            
                            <br>
                            <div class="form-btn">
                                <button class="submit-btn" type="submit">Get Started</button>
                            </div>
                            <br>
                            <a href="login" class='togle-forms'>🔐 Login Instead</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>